body {
    font-family: "Open Sans", sans-serif;
}

.main-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #313131;
}

.logo a {
    height: 27px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 54px;
    margin-left: 27px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    transition: 0.2s;
}

.logo a:hover {
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.head-menu ul {
    display: flex;
    justify-content: space-between;
    width: 130%;
}

.head-menu a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
}

.head-menu a:hover {
    color: #14b9d5;
}

.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #000000;
}

.search i {
    color: #ffffff;
    font-size: 17px;
}

.search input {
    border: 0;
    width: 0;
    background: transparent;
    transition: 0.2s;
}

.search input:focus {
    position: absolute;
    top: 23px;
    right: 72px;
    width: 100px;
    height: 24px;
    background-color: #c4c0c0;
    z-index: 4;
}

.head-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background-image: url(../images/header-bg.jpeg);
    background-repeat: no-repeat;
    background-position: 0 58%;
    background-size: cover;
}

.head-section::before {
    content: "";
    background-color: #000000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.head-btn-container,
.head-section h2,
.head-section button {
    z-index: 3;
    color: #ffffff;
}

.head-btn-container {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin-bottom: 4%;
}

.head-btn {
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

.head-btn:hover {
    border: 1px solid #353a3d;
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.2) inset;
}

button[name="subscribe-btn"] {
    background-color: #89ca62;
}

button[name="best-art-btn"] {
    background-color: #14b9d5;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.popular-posts {
    background-color: #f2f2f2;
}

.content-heading {
    text-align: center;
    font-size: 27px;
    line-height: 127px;
    font-weight: bold;
    color: #18b4cf;
}

.popular-posts-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    height: 910px;
}

.post {
    text-align: center;
    color: #353a3d;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.03);
    margin: 15px;
    transition: 0.2s;
}

.post:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.post p {
    padding: 20px;
}

.popular-clients {
    position: relative;
    width: 100%;
    height: 588px;
    background-image: url(../images/parallax-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 26%;
}

.popular-clients::before {
    content: "";
    background-color: #000000;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.white-heading {
    position: relative;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    top: 130px;
}

.popular-clients h2::after {
    content: "";
    display: block;
    width: 60px;
    position: absolute;
    left: 50%;
    top: 300%;
    z-index: 4;
    border-bottom: 3px solid #18b4cf;
}

.clients-logo {
    display: grid;
    grid-template-columns: 230px 160px 255px 165px;
    grid-gap: 45px;
    justify-content: center;
    height: inherit;
}

.clients-logo a {
    height: 70px;
    width: 100%;
    background-image: url(../images/css_sprites.png);
    background-repeat: no-repeat;
    align-self: center;
    z-index: 3;
    transition: 0.4s;
}

.clients-logo a:hover {
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2) inset;
}

.logo1 {
    background-position: 0 13px;
}

.logo2 {
    background-position: 0 -44px;
}

.logo3 {
    background-position: 0 -116px;
}

.logo4 {
    background-position: 0 -186px;
}

.top-rated {
    width: 100%;
}

.container-fluid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

.top-rated a {
    transition: 0.2s;
}

.top-rated a:hover {
    border-left: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}

.hot-news-container {
    width: 1170px;
    display: grid;
    grid-gap: 50px;
    justify-content: space-around;
    grid-template-areas: "a a a b" "c c d d" "e e f f" "g j j j";
    margin-bottom: 80px;
}

.hot-news-container .post {
    margin: 0;
}

.post-text-column,
.post-text-row {
    display: flex;
    text-align: right;
    color: #353a3d;
    text-decoration: none;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.03);
}

.post-text-column:hover,
.post-text-row:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.post-text-column span,
.post-text-row span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 15px auto;
}

.post-text-column span {
    margin-right: 15px;
}

.post-text-column p,
.post-text-row p {
    margin-left: 15px;
}

.post-text-column {
    flex-direction: column;
}

.post1 {
    grid-area: a;
}

.post2 {
    grid-area: b;
}

.post3 {
    grid-area: c;
}

.post4 {
    grid-area: d;
}

.post5 {
    grid-area: e;
}

.post6 {
    grid-area: f;
}

.post7 {
    grid-area: g;
}

.post8 {
    grid-area: j;
}

.main-page-footer {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
}

.main-page-footer a {
    display: flex;
    padding: 5px;
    transition: 0.2s;
}

.main-page-footer a:hover {
    border-radius: 9px;
    box-shadow: 3px 6px 9px rgba(255, 255, 255, 0.2), -1px -1px 3px rgba(255, 255, 255, 0.1);
}

.footer-logo {
    height: 25px;
}

.f-logo1 {
    width: 38px;
    background-image: url(../images/footer-logo.png);
    background-repeat: no-repeat;
    background-position: 0 -10px;
    margin-right: 8px;
}

.f-logo2 {
    width: 65px;
    background-image: url(../images/footer-logo.png);
    background-repeat: no-repeat;
    background-position: -68px -10px;
}