Skip to content Search… All gists Back to GitHub Sign in Sign up Instantly share code,
notes,
and snippets. @DavidWells DavidWells/reset.css forked from karbassi/reset.css Last active 4 hours ago 485187 Code Revisions 1 Stars 485 Forks 187 <script src="https://gist.github.com/DavidWells/18e73022e723037a50d6.js"></script>reset.css
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* make sure to set some focus styles for accessibility */

:focus {
    outline: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}


/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}


/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}


/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}


/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}


/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}


/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}


/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}


/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}


/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}


/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}


/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
}


/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}


/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}


/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],

/* 1 */

input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */
}


/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}


/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}


/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}


/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}


/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@leandroruel leandroruel commented on 31 Aug 2018 is it updated? @ptaberg ptaberg commented on 13 Nov 2018 tnx for prefixes @lkraman lkraman commented on 3 Mar 2019 Thanks! @jinfull jinfull commented on 2 May 2019 thx @terluk terluk commented on 15 May 2019 Great job,
thanks. @VasylBakanovskyi VasylBakanovskyi commented on 20 May 2019 Thanks @doankhue doankhue commented on 21 May 2019 Thanks @hessaam hessaam commented on 30 May 2019 Thanks @david-fox-chang david-fox-chang commented on 14 Jun 2019 Thanks @dimitriaguera dimitriaguera commented on 22 Jun 2019 Thanks ! @ERPedersen ERPedersen commented on 27 Jun 2019 Thx bruv @XXonline XXonline commented on 28 Jun 2019 thanks! @blackrama blackrama commented on 8 Jul 2019 thanks! @shijiatongxue shijiatongxue commented on 12 Jul 2019 Respect @groupunknown groupunknown commented on 17 Jul 2019 I usually use the code below to adjust the border with the div,
I do not know if it's a good practice, but it works perfectly for me.
 *,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

could add to the reset,
or not,
as I said,
I do not know if a good practice to use this. @k2k-com k2k-com commented on 9 Aug 2019 спасибо @Hak-I-Seup Hak-I-Seup commented on 11 Aug 2019 You would be a good man! Ggam ssoa hap ni da ^|^ @lucasaloha10 lucasaloha10 commented on 14 Aug 2019 how to overwrite my css before reset? @vasex-xena vasex-xena commented on 14 Aug 2019 Thanks @mezus-xd mezus-xd commented on 26 Aug 2019 • thanks,
i used this now *,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    image-rendering: -webkit-optimize-contrast;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ul,
ol {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

input:not([type='radio']):not([type='checkbox']),
textarea,
select {
    -webkit-appearance: none;
}

mark {
    background-color: transparent;
    font-weight: bold;
    color: inherit;
}


/* end reset */

/preset/ body {
    font-size: 17px;
    line-height: 27.92px;
    font-family: Helvetica, sans-serif;
    color: #1a1a1a;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    clear: both;
    overflow: hidden;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

and for my html https: //github.com/mezus-xd/Wordpress-Snippets-by-Mezus/blob/master/save
@DevEvKa DevEvKa commented on 22 Sep 2019 Thank you! It helps a lot :) @Epic-R-R Epic-R-R commented on 10 Oct 2019 Thanks @HuiruDong HuiruDong commented on 16 Oct 2019 Thanks :) @KeynesYouDigIt KeynesYouDigIt commented on 24 Oct 2019 beautiful thank you! @victor-uni-kilo victor-uni-kilo commented on 25 Oct 2019 Thanks :) @dada513 dada513 commented on 26 Oct 2019 how to overwrite my css before reset? add reset before your main css @sudhir-pradhan sudhir-pradhan commented on 30 Oct 2019 • how to overwrite my css before reset? just import reset.css in your index.css. @import "your_path/reset.css" /rest of your css continues/ @hyalen hyalen commented on 7 Nov 2019 Awesome. Thanks;
) @shamaru001 shamaru001 commented on 17 Nov 2019 Very nice,
thanks. @BienvenidoBoriko BienvenidoBoriko commented on 28 Nov 2019 tanks @ta-riq ta-riq commented on 3 Dec 2019 Is it still needed inn 2019 ? @DiegoHilderink DiegoHilderink commented on 10 Dec 2019 Thank you very much @amirmardani500 amirmardani500 commented on 16 Dec 2019 ? @cnrblm cnrblm commented on 19 Dec 2019 thanks. @Yongho-VIRNECT Yongho-VIRNECT commented on 2 Jan thanks. happy new year 2020~! @andersonluizneto andersonluizneto commented on 19 Jan Thanks! @scarpeace scarpeace commented on 21 Jan Thanks! @momoduoladapo momoduoladapo commented on 24 Jan Beautiful. Thanks so much and a happy new year @rvyoges rvyoges commented on 7 Feb Thanks... @SeyouElegance SeyouElegance commented on 7 Feb Cheers !!! @kayrobin kayrobin commented on 8 Feb Thank you @AyrtonPereira1996 AyrtonPereira1996 commented on 28 Feb Thanks a lot to you! @crazzylama0 crazzylama0 commented on 10 Mar Thank you a lot!!! @eyupkayadarcin eyupkayadarcin commented on 13 Mar+1 @overparser overparser commented on 26 Mar thanks <3 @verhovensky verhovensky commented on 1 Apr Thank you! @joaobispo2077 joaobispo2077 commented on 10 Apr Thaanks! @hamed-farag hamed-farag commented on 11 Apr Thanks star_struck @callmeweirdo callmeweirdo commented on 21 Apr pls.. how do I grab this file from here @yyywalet yyywalet commented on 21 Apr pls.. how do I grab this file from here ctrl+C,
ctrl+V @pyll-o pyll-o commented on 21 Apr Thanks :) @sajjadmd sajjadmd commented on 28 Apr Thank you so much @DavidWells @TangoPJ TangoPJ commented on 2 May Thank you a lot man)) @RRasputin92 RRasputin92 commented on 6 May Благодарю!!! @mohsen-walton mohsen-walton commented on 6 May thanks man+1 @bendevs99 bendevs99 commented on 12 May Thanks! @zdimaz zdimaz commented on 20 May • why you stant styles some elements Reset go to reset !importent !! appearance: none: Some like: textarea,
input,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

AND MORE SOME ONE ANOTHER ! @angelazest angelazest commented 5 days ago Hi David,
Thanks @ lot. All the best to join this conversation on GitHub. Already have an account? Sign in to comment © 2020 GitHub,
Inc. Terms Privacy Security Status Help Contact GitHub Pricing API Training Blog About