.container {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    text-align: right;
}

.content-container {
    position: relative;
    height: 100vh;
}

.icons {
    height: 26px;
    width: 26px;
    display: inline-block;
    margin: 17px 20px 0 0;
    background-image: url(../images/css_sprites.png);
    /* transition: 0.2s;
    спрайты получились немного разными за счет небольшой разницы в размерах картинок. из-за этого пришлось навесить hover и на отдельные иконки тоже. transition получился сломанным, но забавным */
}

.icons:hover {
    background-image: url(../images/css_sprites_hover.png);
}

.date {
    background-position: 34px -9px;
}

.mail {
    background-position: 76px -8px;
}

.mail:hover {
    background-position: -8px -9px;
}

.safari {
    background-position: -8px -9px;
}

.safari:hover {
    background-position: 76px -9px;
}

.logo a {
    float: left;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    line-height: 58px;
    font-weight: bold;
    margin-left: 79px;
    transition: 0.2s;
}

.log {
    float: right;
    color: #fff;
    font-size: 14px;
    line-height: 58px;
    margin-right: 79px;
    margin-left: 10px;
}

.log p {
    display: inline-block;
    border-left: 1px solid #fff;
    padding-left: 27px;
    line-height: 20px;
    transition: 0.2s;
}

.log p:hover {
    border-left: 1px solid #3cb878;
}

header a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

header a:hover {
    color: #3cb878;
}

.sign-up-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 444px;
    background-color: #fff;
    text-align: center;
    padding-top: 24px;
    vertical-align: middle;
}

.form-header {
    width: 100%;
    height: 22px;
    overflow: hidden;
    text-align: left;
    margin-bottom: 10px;
    vertical-align: middle;
}

.green-square {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    float: left;
    margin-top: 1px;
}

.form-header span {
    margin-left: 42px;
    color: #434343;
    font-size: 20px;
    height: 20px;
}

.form-header a {
    float: right;
    margin-right: 62px;
    text-decoration-color: #fff;
    color: #3cb878;
    font-size: 14px;
    line-height: 22px;
    transition: 0.3s;
}

.form-header a:hover {
    text-decoration-color: #3cb878;
}

.social {
    text-align: center;
}

.give-user-a-choise {
    font-size: 14px;
    color: #848484;
    overflow: hidden;
    width: 324px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.give-user-a-choise::before,
.give-user-a-choise::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background: #f2f2f2;
    border: solid #fff;
    border-width: 0 10px;
}

.give-user-a-choise::before {
    margin-left: -100%;
}

.give-user-a-choise::after {
    margin-right: -100%;
}

.field {
    width: 324px;
    height: 45px;
    margin-top: 15px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 20px;
    background-color: #fff;
    color: #434343;
    box-sizing: border-box;
}

.field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.field::placeholder {
    color: #bebebe;
}

.social input {
    width: 160px;
    height: 45px;
    color: #fff;
    font-size: 16px;
    padding-left: 50px;
    border: none;
    border-radius: 4px;
}

input[name="facebook"] {
    background-color: #305db8;
    background-image: url(../images/fb.png);
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

input[name="google"] {
    background-color: #df4a32;
    background-image: url(../images/gplus.png);
    background-repeat: no-repeat;
    background-position: 17px 15px;
}

input[name="create-account"] {
    width: 324px;
    height: 46px;
    border: none;
    border-radius: 4px;
    background-color: rgba(60, 184, 120, 0.8);
    font-size: 16px;
    line-height: 46px;
    color: #fff;
    padding: 0;
    margin-bottom: 38px;
}

.agree {
    width: 324px;
    height: 20px;
    margin: 12px auto 22px auto;
    text-align: left;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label {
    color: #434343;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    position: relative;
    left: 26px;
}

.agree a {
    color: rgba(60, 184, 120, 0.8);
    text-decoration-color: rgba(60, 184, 120, 0);
    transition: 0.3s;
}

.agree a:hover {
    text-decoration-color: rgba(60, 184, 120, 0.8);
}

.checkbox+label::before {
    content: "";
    position: absolute;
    left: -26px;
    width: 18px;
    height: 18px;
    border: 1px solid#F2F2F2;
}

.checkbox:checked+label::before {
    content: url(../images/checked.png);
}