body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 3px;
    text-align: center;
    text-rendering: optimizeLegibility;
}

.navbar {
    margin: 2% 3%;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: red;
    margin: 3%;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin: 3% 0 3% 0;
}

.content {
    margin: 4%;
    color: #373737;
}

p {
    text-align: justify;
    margin-bottom: 3%;
}

button {
    color: white;
    background-color: #ff0000;
    border: none;
    border-radius: 5%;
    padding: 1.5% 4%;
    font-weight: bold;
}

footer {
    text-align: right;
    font-weight: bold;
    color: #373737;
    margin: 7% 10% 5% 0;
}

