body {
    font-family: "Roboto", sans-serif;
}

#logo {
    width: 1280px;
    margin: 50px auto;
}

#logo a {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    margin-left: auto;
    text-decoration: none;
    color: #000000;
    margin-bottom: 1em;
}

#logo-different-color {
    color: #4dc8fa;
}

.top-menu {
    background-color: #35444f;
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.top-menu ul {
    margin-right: auto;
    margin-left: auto;
}

.top-menu li {
    display: inline-block;
    border-left: 1px solid #fff;
    height: 72px;
    line-height: 72px;
}

.top-menu a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    height: 100%;
    margin: 0 1.25em;
    vertical-align: middle;
}

.top-menu li:hover {
    background-color: #222f3a;
}

.main {
    width: 1280px;
    margin: 50px auto;
    text-align: left;
}

.main>div {
    display: inline-block;
    vertical-align: top;
}

.main-menu {
    width: 344px;
    height: 400px;
    border: 1px solid #dbdbdb;
}

.main-menu li {
    display: inline-block;
    width: 100%;
    height: 80px;
    margin: auto;
    font-size: 27px;
    line-height: 80px;
}

.main-menu a {
    display: inline-block;
    color: #485863;
    height: 100%;
    text-decoration: none;
    margin-left: 2em;
    vertical-align: middle;
}

.main-menu a:hover {
    margin-left: 4em;
}

.main-menu li:hover {
    background-color: #dbdbdb;
}

.content {
    width: 885px;
    box-sizing: border-box;
    margin-left: 45px;
}

.image {
    width: 885px;
    height: 529px;
    border: 1px solid #dbdbdb;
    /* background-image: url(/ramda-logo-cover.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;*/
}

.image img {
    margin: 0;
    position: relative;
    width: 320px;
    height: 381px;
    left: 297px;
    top: 75px;
    transition: 1s;
}

.image img:hover {
    transform: scale(1.1);
}

.text p {
    margin: 50px 0;
    font-size: 18px;
    line-height: 24px;
}

.footer {
    background-color: #b4b7b9;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
}

.footer nav {
    display: inline-block;
    margin-left: 40px;
}

.footer li {
    display: inline-block;
    text-align: center;
    height: 69px;
    line-height: 69px;
    margin-right: 30px;
}

.footer a {
    display: inline-block;
    color: #0c1927;
    text-decoration: none;
    font-size: 28px;
    line-height: 50px;
    vertical-align: middle;
}

.footer a:hover {
    color: #3181a6;
    border-bottom: 1.3px solid #3181a6;
}

.copyright {
    display: inline-block;
    width: 297px;
    text-align: right;
    font-size: 24px;
    line-height: 24px;
}

.copyright span {
    margin-right: 40px;
    vertical-align: middle;
}