table {
    font-family: "Arimo", sans-serif;
    color: #484848;
    border: 30px solid #3a4965;
    border-collapse: collapse;
    text-align: center;
}

.main-cell {
    line-height: 7px;
    padding: 0 50px 0 50px;
}

td,
th {
    /* width: 240px; */
    padding: 24px 30px;
}

th {
    background-color: #fafafa;
    position: relative;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}

th,
td {
    border-right: 1px solid #c5c5c5;
}

.plan {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    border: none;
}

.standart {
    background-color: #89c331;
}

.ultimate {
    background-color: #f04a56;
    font-size: 30px;
}

.premium {
    background-color: #20807c;
}

.cell-box {
    overflow: hidden;
    width: 220px;
    margin: auto;
}

.price {
    float: left;
    font-size: 60px;
}

.price:after {
    content: ".99";
    font-size: 24px;
    position: absolute;
    top: 20px;
}

.per-month {
    font-size: 18px;
    font-weight: normal;
    vertical-align: top;
    margin-top: 22px;
}

i {
    font-size: 24px;
    color: #848484;
}

tfoot td {
    padding: 30px;
}

button {
    width: 195px;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    background-color: #484848;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    box-shadow: 0px 10px #404040;
}

td:nth-child(2) button {
    background-color: #89c331;
    box-shadow: 0px 10px #79b027;
}

td:nth-child(3) button {
    background-color: #f04a56;
    box-shadow: 0px 10px #df3a46;
}

td:nth-child(4) button {
    background-color: #20807c;
    box-shadow: 0px 10px #16736f;
}

tfoot td:nth-child(even) {
    background-color: #eeeeee;
}

tfoot td:nth-child(odd) {
    background-color: #f4f4f4;
}

tfoot td:nth-child(1) {
    background-color: #dddddd;
}