body {
    font-family: "Roboto", sans-serif;
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;
}

.header {
    width: 1023px;
    overflow: hidden;
    margin: 49px auto 17px auto;
}

.logo {
    width: 150px;
    height: 47px;
    float: left;
    vertical-align: bottom;
    margin-top: 3px;
}

.logo a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.logo-image {
    float: left;
    width: 53px;
    height: 47px;
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
}

.logo h1 {
    display: block;
    float: right;
    font-size: 29px;
    line-height: 22px;
    font-weight: bold;
    padding-top: 5px;
}

.different-logo-text {
    font-size: 18px;
}

.logo:hover a {
    color: #f26522;
}

.logo:hover .logo-image {
    background-image: url(/images/logo-hover.png);
    background-repeat: no-repeat;
}

.contacts {
    width: 219px;
    height: 61px;
    float: right;
    text-align: right;
    margin-top: 0;
}

.contacts a {
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}

.contacts div:nth-child(1) {
    margin-bottom: 19px;
}

.contacts a:hover {
    color: #f26522;
}

.content {
    width: 1023px;
    height: 559px;
    margin: 0 auto;
    overflow: hidden;
}

.image {
    width: 300px;
    height: 297px;
    float: left;
    margin-right: 60px;
    text-align: center;
}

.image:nth-child(3n) {
    margin-right: 0;
}

.image:last-child {
    clear: right;
}

.image a {
    display: block;
    font-size: 18px;
    line-height: 35px;
    text-decoration: none;
    color: #ffffff;
}

.details {
    color: #ffffff;
    background-color: #f26522;
    width: 300px;
    height: 55px;
    position: relative;
    top: -103px;
    left: 2px;
    display: none;
    text-align: right;
}

.details .price {
    height: 36px;
    width: 36px;
    float: left;
    font-size: 20px;
    line-height: 20px;
    margin-left: 16px;
    text-align: left;
}

.price span {
    font-size: 10px;
}

.details .link a {
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    margin-top: 24px;
}

.image:hover .details a::after {
    content: url(/images/Vector.png);
    margin-left: 16px;
    margin-right: 15px;
}

.image:hover .details {
    display: block;
}

.copyright {
    color: #ffffff;
    height: 21px;
    font-size: 12px;
    width: fit-content;
    margin: 52px auto 0 auto;
}