.container {
    height: 100vh;
    color: #FFE81F;
    background-color: #000000;
    text-align: justify;
    font-family: news-gothic-std, sans-serif;
    perspective: 600px;
    perspective-origin: top;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tilt-text {
    transform: rotateX(80deg);
}

.crawling-text {
    width: 75%;
    margin: 0 auto;
    font-size: 45px;
    animation: crawling 30s infinite linear;
}

.container h2 {
    text-align: center;
    font-size: larger;
}

@keyframes crawling {
    from {
        transform: translateY(85vh);
    }
    to {
        transform: translateY(-75vh);
    }
}